* {
    background-color: rgb(255, 255, 0);
    text-align: center;
}

img {
    width: 300px;
    height: auto;
}

h1 {
    background-color: purple;
    color: yellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3, h4 {
    color: purple;
    font-family: cursive;
}



li, p {
    color: purple;
    font-family: monospace;
    list-style: none;
}







